<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="product">
	
	<!-- 01. 상품 전체 리스트 -->
	<select id="listProduct" resultType="com.example.spring02.model.shop.dto.ProductVO">
		SELECT  
			product_id AS productId, 
			product_name AS productName, 
			product_price AS productPrice, 
			product_desc AS productDesc, 
			product_url AS productUrl
		FROM tbl_product ORDER BY product_name
	</select>
	
	<!-- 02. 상품 상세보기 -->
	<select id="detailProduct" resultType="com.example.spring02.model.shop.dto.ProductVO">
		SELECT
			product_id AS productId, 
			product_name AS productName, 
			product_price AS productPrice, 
			product_desc AS productDesc, 
			product_url AS productUrl
		FROM tbl_product 
		WHERE product_id = #{productId}
	</select>
</mapper>


